body {
    margin: 10px;
    background-image: url('https://cdn.wallpapersafari.com/82/97/UHpNxb.jpg');
}

ul {
    padding-left: 10px;
}

li {
    background: white;
    list-style-type: none;
    padding: 5px;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a, p {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
}

h1 {
    color: white;
	text-align: center;
    font-family: sans-serif;
}

.boxmenu-options{
    width: 900px;
    height: 750px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: gray;
    border: 5px solid black;
    justify-content: center;
}

.box-options{
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: darkslategray;
}

.box-title{
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: darkgoldenrod;
}

#back-button:hover{
    cursor: pointer;
    background: darkgoldenrod;
}
